

/* css style for  sections */
.nav-section{
    height: 700px;
    background-image: linear-gradient(to bottom, rgba(40,60,255,0.5),rgba(40,60,255,0.5)), url(../images/200409154616-underscored-food-delivery-service.jpg);
    background-size:100% 100% !important;
    background-repeat: no-repeat !important; 
}
footer{
    background-image: linear-gradient(to bottom, rgba(40,60,255,0.5),rgba(40,60,255,0.5)), url(../images/200409154616-underscored-food-delivery-service.jpg);
    background-size:100% 100% !important;
    background-repeat: no-repeat !important; 
}


.section-four{
    height: 850px;
    background: linear-gradient(to bottom,rgba(40,60,255,0.4),rgba(40,60,255,0.4)), url(../images/200409154616-underscored-food-delivery-service.jpg) !important;
    background-size:100% 100% !important;
    background-repeat: no-repeat !important;
}

.sixth-section{
    padding-top: 22px;
    height: 300px;
    background: linear-gradient(to bottom,rgba(40,60,255,0.4),rgba(40,60,255,0.4)), url(../images/200409154616-underscored-food-delivery-service.jpg) !important;
    background-size:100% 100% !important;
    background-repeat: no-repeat !important;

}

/* css style for colors*/
.white{
    color: white;
}

.blue{
    color: #0095FF !important;
}


/*css style for goods */


/*css style for services */
.services{
    -webkit-backdrop-filter:blur(5px);	
     backdrop-filter:blur(5px);	
     background-color:rgba(21, 35, 226, 0.5) !important;
}

.total{
   
    background-color: white;
    border-radius: 10px;
    -webkit-backdrop-filter:blur(5px);	
     backdrop-filter:blur(5px);	
     background-color:rgba(21, 35, 226, 0.5) !important;
     padding: 20px;
}



.circle{
    width: 50px;
    height: 50px;
    border: #0095FF 1px solid;
    border-radius: 100%;
}

.input{
    width: 350px;
    height: 40px;
    border-radius: 7px;
    outline: none;
    border: #0095FF 1px solid;
    background-color: #d8ebf8;
}

/* css style for info */
.info{
    height: 400px;
    border: #0095FF 1px solid;
    border-radius: 10px;
}

.info_text{
    height: 50px;
    background-color: #0095FF;
    border-radius: 10px 10px 0px 0px;
}

.icons{
    height: 70px;
    width: 70px;
    border-radius: 100%;
    border: #0095FF 7px solid;
}
p{
    font-family: 'Nunito';
}

.fa-paper-plane{
    color: #0095FF;
}
.fa-shipping-fast{
    color: #0095FF;

}
.fa-money-check-dollar{
    color: #0095FF;

}
